   <h1>More from Litwak Recommends</h1>
    <p>
	<% graphic= image_tag("bigsur.jpg", :alt => "Big Sur, California", :class => "round") %>
	  <%= link_to graphic, more_path%>
Coming soon . . . </br>
European Hostel Recommendations

</p>
