<h2>More Articles</h2>
<div id="more-content-link" class="round">
	<%= link_to "Oyster Card", post_path(15.to_s)%></br>
</div>

<div id="more-content-link" class="round">
	<%= link_to "Money Issues: Exchange Locations, Travel Friendly Credit Cards", post_path(18.to_s)%></br>
</div>

<div id="more-content-link" class="round">
	<%= link_to "WWOOF it!", post_path(10.to_s)%></br>
</div>

<div id="more-content-ad">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-5609456848181056";
	/* contentbartextad */
	google_ad_slot = "2176448574";
	google_ad_width = 234;
	google_ad_height = 60;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<div id="more-content-link" class="round">
	<%= link_to "ISIC Card", post_path(3.to_s)%></br>
</div>